[Unit]
Description=xi Map Server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/server
Restart=on-failure
ExecStart=/opt/server/xi_map --log /var/log/ffxi-map-server.log
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target