[Unit]
Description=xi Search Server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/server
Restart=on-failure
ExecStart=/opt/server/xi_search --log /var/log/ffxi-search-server.log
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target